www-data ALL=(root) NOPASSWD: /usr/local/sbin/castillo-pending-change
www-data ALL=(root) NOPASSWD: /usr/local/sbin/castillo-pending-check
www-data ALL=(root) NOPASSWD: /usr/local/sbin/castillo-pending-sync
